.selector{
  vertical-align: middle;
  padding: 10px 10px 10px 10px;
  margin: 10px 10px 10px 10px; 
  border-radius: 10px; 
  background-color: #CCCCFF;
  border-color: #660099;
  box-shadow: 5px 5px 9px black; 
  color:gray;
}
#searchBox{
  vertical-align: middle;
  padding: 10px 10px 10px 10px;
  margin: 10px 10px 10px 10px; 
  border-radius: 10px; 
  background-color: #CCCCFF;
  border-color: #660099;
  box-shadow: 5px 5px 9px black; 
  color:#FFFFFF;
}
#NoResults{
  color: #FFFFFF; 
  margin-bottom: 30px; 
}
table{
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 95%; 
}
table, th, td{

  border: 1px ridge #660066;
  font-size: 1.00em;
  font-weight: normal; 
  vertical-align: middle; 
  color: #FFFFFF;
}
table, th
{
  color: #6699FF;
  border: transparent;
}
table, td:hover{
  color: #FFFF00; 
}
table tr button{
  color:red;
  background-color: #9900FF;
  border:transparent;
  border-radius: 100%;
  box-shadow: 2px 2px 1px black; 
  margin: 2px 2px 2px 2px;
  padding: auto; 
  display: block; 
}
.pagination
{
    margin-left: 30px;
    background-color: #CCCCFF;
}
.pagination > li > a, .pagination > li > span{
    background-color: #CCCCFF;
    color:#FFFFFF;
    border: transparent;
}

#removeAll {
  color: red;
  background-color: #9900FF; 
  position: absolute;
  border:transparent;
  border-radius: 10%; 
  padding: auto;
  margin-bottom: 20px; 
  margin-left: 30px;
}