<!-- 	<div ng-controller="TableCtrl" ng-init="distribution = getDistribution()">
		<p>Vital Statistics</p>
		<table align = "center" style="width:50%">
			<tr>
				<th>Currency</th>
				<th>Count</th> 
				<th>Percentage Used</th>
			</tr>

			<tr ng-repeat="item in distribution">
				<td>{{item.currency}}</td>
				<td>{{item.count}}</td>
				<td>{{item.percentage}}</td>
			</tr>

			<tr>
				<td><h4>Total</h4></td>
				<td><h4>86</h4></td>
				<td><h4>100.0%</h4></td> 
			</tr>
		</table>
	</div>	 -->