<div ng-controller="TableCtrl">
	<div>
		<b> Sort table by: </b>
		<select ng-model="category">
			<option value="Account ID">Account ID</option>
			<option value="Transaction Code">Transaction Code</option>
			<option value="Base Currency">Base Currency</option>
			<option value="Currency">Currency</option>
			<option value="Amount">Amount</option>
			<option value="Time Stamp">Time Stamp</option>
		</select>
		<select ng-model="order">
			<option value = "1">Ascending</option>
			<option value = "-1">Descending</option>
		</select>
	</div>
	<p> Sort Criteria: {{category}} : {{strOrder}} </p>
	<p>Live Transactions</p>
	<input type ="search" ng-model="search" placeholder="Search" id ="searchBox"> 
	<table align="center" id="Sorted Table" style="width:95%">
		<tr>
			<th ng-show="$root.currentUser"></th>
			<th ng-repeat="field in fields">{{field}}</th>
		</tr>
		<tr ng-repeat="transaction in transactions">
<!-- 		<tr dir-paginate="transaction in transactions | itemsPerPage: perPage" total-items="86">	 -->
			<td ng-show="$root.currentUser"><button ng-click="remove(transaction)">X</button></td>
			<td>{{items(transaction._id, "acctId")}}</td>
			<td>{{items(transaction._id, "tranCode")}}</td> 
			<td>{{transaction.baseCurrency}}</td>
			<td>{{items(transaction._id, "currency")}}</td>
			<td>{{fixAmount(items(transaction._id, "amount"))}}</td>
			<td>{{formatDate(transaction.timeStamp)}}</td>
		</tr>
	</table>
<!-- 	<dir-pagination-controls on-page-change="pageChanged(newPageNumber)"></dir-pagination-controls> -->
</div>